/* http://meyerweb.com/eric/tools/css/reset/
 *    v2.0 | 20110126
 *       License: none (public domain)
 *
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font: 0.8vw "Century Gothic", Futura, sans-serif;
  margin: 0;
}

ol, ul {
  padding-left: 30px;
}

img {
  border-style:  none;
}

.apparel-demo {
  margin:     0px auto;
  padding:    0px 0px 20px;
/*  width:      1200px;
  height:     750px; */
  background: #F3F0ED;
  text-align: left;
  /* border:     1px solid #999; */
}

.selections {
  margin:     0px;
  padding:    0px;
  width:      100%;
  display:    flex;
  justify-content: center;
  padding:    0;
  list-style: none;
  /* border:     1px solid #999; */
}

.selection-1 {
  width:      calc(80% / 3);
  margin:     10px;
  /* border:     1px solid #999; */
}

.detail-link {
  width:      3.3vw;
  margin:     5px;
  justify-content: center;
  /* text-align: center; */
  /* vertical-align:  baseline; */
  font-size: 2.0vh;
  /* border:     1px solid #999; */
}

.detail-link a {
  line-height: 10vh;
}

.prediction {
  margin:     0px 10px;
  padding:    0px;
  height:     80vh;
  /* border:     1px solid #999; */
}

.controls {
  margin:     0px 0px 0px;
  padding:    0px;
  width:      35.5vw;
  float:      left;
  display:    inline;
  font-weight: bold;
  /* border:     1px solid #999; */
}

.control {
  padding-top: 10px;
  height:     9.8vh;
  position:   relative;
  /* border:     1px solid #999; */
  /* background-color:#77ff77; */
}


.control-label {
  display:    inline-block;
  float:      left;
  margin-left: 1.6vw;
  width:      5.5vw;
  font-size:  1.2vw;
  /* border:     1px solid #999; */
}

.control-slider {
  display:    inline-block;
  margin-top: 0.8vh;
  float:      right;
  width:      25vw;
  height:     2.5vh;
  /* border:     1px solid #999; */
}

.forcast {
  margin:     0.4vh 0.4vw 0.4vh 0.4vw;
  padding:    0.2vw;
  width:      60vw;
  height:     75vh;
  float:      right;
  display:    inline;
  /* border:     1px solid #999; */
}

.graph {
  font-weight: bold;
  width:      59vw;
  height:     68vh;
  /* border:     1px solid #999; */
}

.action {
  /* border:     1px solid #999; */
}

.current-week {
  display:    inline;
  font-size:  1.5vw;
  /* border:     1px solid #999; */
}

.week {
  margin-left: 10px;
  margin-right: 10px;
  /* border:     1px solid #999;  */
}

.icon-prev{
  border-top: 0.7vw solid transparent;
  border-left: 0.7vw solid transparent;
  border-right: 0.7vw solid black;
  border-bottom: 0.7vw solid transparent;
}

.icon-next{
  border-top: 0.7vw solid transparent;
  border-left: 0.7vw solid black;
  border-right: 0.7vw solid transparent;
  border-bottom: 0.7vw solid transparent;
}

.performance {
  margin-left:   5px;
  width:  16.6vw;
  display:    inline;
  font-size:  1.5vw;
  /* border:     1px solid #999; */
}

.input {
  margin-left:   5px;
  /* border:     1px solid #999; */
}

.execute {
  margin-left:   0.3vw;
  /* border:     1px solid #999; */
}

.atr-fitting {
  margin-left:   0.3vw;
  /* border:     1px solid #999;  */
}

.action-button{
  width:      calc(40% / 3);
}

.action-buttons{
  width:      50vw;
  display:    inline;
  /* border:     1px solid #999; */
}

.abstruct {
  margin:     20px 0px 0px;
  padding:    20px;
  float:      left;
  width:      48vw;
  display:    inline;
  /* border:     1px solid #999; */
}

.abstruct img {
  width:      58vh;
  height:     58vh;
  display:    block;
  align-content: center;
  margin-left: 8vw;
  margin-bottom: 1.25vh;
  /* border:     1px solid #999; */
}

.spec {
  padding: 0px 0px 3.8vh 0px;
  /* border:     1px solid #999; */
}

.title {
  font-weight: bold;
  /* border:     1px solid #999; */
}

.specification {
  margin:     2.0vw 0px 0px;
  padding:    0px;
  float:      right;
  width:      50vw;
  display:    inline;
  /* border:     1px solid #999; */
}
