/* http://meyerweb.com/eric/tools/css/reset/
 *    v2.0 | 20110126
 *       License: none (public domain)
 *
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0;
}

ol, ul {
  padding-left: 30px;
}

img {
  border-style:  none;
}

.apparel-demo {
  margin:     0px auto;
  padding:    0px 0px 20px;
  width:      1200px;
  height:     750px;
  background: #F3F0ED;
  text-align: left;
  /*border:     1px solid #999; */
}

.selections {
  margin:     0px;
  padding:    0px;
  width:      100%;
  display:    flex;
  justify-content: center;
  padding:    0;
  list-style: none;
  /* border:     1px solid #999; */
}

.selection-1 {
  width:      calc(80% / 3);
  margin:     10px;
  /* border:     1px solid #999; */
}

.detail-link {
  width:      40px;
  margin:     5px;
  justif-content: center;
  text-align: center;
  vertical-align:  baseline;
  /* border:     1px solid #999; */
}

.detail-link a {
  line-height: 120px;
}

.prediction {
  margin:     0px 10px;
  padding:    0px;
  height:     550px;
  /* border:     1px solid #999; */
}

.controls {
  margin:     0px 0px 0px;
  padding:    0px;
  width:      400px;
  float:      left;
  display:    inline;
  font-weight: bold;
  /* border:     1px solid #999; */
}

.control {
  padding-top: 10px;
  height:     70px;
  position:   relative;
  /* border:     1px solid #999; */
  /* background-color:#77ff77; */
}


.control-label {
  display:    inline-block;
  float:      left;
  width:      70px;
  /* border:     1px solid #999; */
}

.control-slider {
  display:    inline-block;
  margin-top: 5px;
  float:      right;
  width:      300px;
  /* border:     1px solid #999; */
}

.forcast {
  margin:     0px 0px 0px;
  padding:    0px;
  width:      750px;
  float:      right;
  display:    inline;
  /* border:     1px solid #999; */
}

.graph {
  font-weight: bold;
  /* border:     1px solid #999; */
}

.action {
 /*  border:     1px solid #999;  */
}

.current-week {
  display:    inline;
  font-size:  16pt;
  /* border:     1px solid #999;  */
}

.week {
  margin-left: 10px;
  margin-right: 10px;
  /* border:     1px solid #999;  */
}

.icon-prev-1 {
  display:    inline-box;
  border:     1px solid #999;
  width:      12px;
  height:     12px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #7a0;
}

.icon-next-1 {
  display:    inline-box;
  border:     1px solid #999;
  left:       5px;
  box-sizing: border-box;
  width:      12px;
  height:     12px;
  border:     3px solid transparent;
  border-left: 3px solid #fff;
}

.icon-prev{
  border-top: 10px solid transparent;
  border-left: 10x solid transparent;
  border-right: 10px solid black;
  border-bottom: 10px solid transparent;
  }

.icon-next{
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 10px solid black;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  }

.performance {
  width:  200px;
  display:    inline;
  margin-left:   5px;
  /* border:     1px solid #999; */
}

.input {
  margin-left:   5px;
  /* border:     1px solid #999; */
}

.execute {
  margin-left:   5px;
  /* border:     1px solid #999; */
}

.atr-fitting {
  margin-left:   5px;
  /* border:     1px solid #999;  */
}

.abstruct {
  margin:     20px 0px 0px;
  padding:    20px;
  float:      left;
  width:      560px;
  display:    inline;
  /* border:     1px solid #999; */
}

.abstruct img {
  width:      460px;
  height:     460px;
  display:    block;
  align-content: center;
  margin-left: 40px;
  margin-bottom: 10px;
  /* border:     1px solid #999; */
}

.spec {
  padding: 0px 0px 30px 0px;
  /* border:     1px solid #999; */
}

.title {
  font-weight: bold;
  /* border:     1px solid #999; */
}

.specification {
  margin:     20px 0px 0px;
  padding:    0px;
  float:      right;
  width:      560px;
  display:    inline;
  /* border:     1px solid #999; */
}
